body,h1,h2,h3,p,quote,small,form,input,ul,li,ol,label,fieldset{
	/* A simple page reset */
	margin:0px;
	padding:0px;
}
body{
	/* Styling the body */
	color:white;
	font-size:13px;
	background: #4FAEC6;
	font-family:Arial, Helvetica, sans-serif;
}
#description {
 font-size: .9em;
  line-height:1.0em;
  color: #aaa;
  text-align: left;


}
h1{
	/* The subtitle */
	font-family:"MyRiad Pro","Arial Narrow",Arial,Helvetica,sans-serif;
	font-size:25px;
	font-weight:normal;
	letter-spacing:1px;
	padding-left:2px;
	text-transform:uppercase;
	white-space:nowrap;
	margin:10px 0 25px;
}
h1 strong {
  color: #03a6fb;
}

#description strong {
  color: #03a6fb;
}
#mainwrapper { 
	margin: 10px auto;
	
        } 
 
#experiment {
  -webkit-perspective: 800; 
  -webkit-perspective-origin: 50% 200px;
}

#cube {
  position: relative;
  margin: 100px auto 0;
  height: 400px;
  width: 400px;
  -webkit-transition: -webkit-transform 2s linear;
  -webkit-transform-style: preserve-3d;
  
}

.face {
  position: absolute;
  height: 360px;
  width: 360px;
  padding: 20px;
  background-color: #000000;
  line-height: 1em;
  color: #fff;
  border: 2px solid #f90;
  -webkit-border-radius: 3px;
  
}   

#cube .one  {
  -webkit-transform: rotateX(90deg) translateZ(200px);
}

#cube .two {
  -webkit-transform: translateZ(200px);
}

#cube .three {
  -webkit-transform: rotateY(90deg) translateZ(200px);
}

#cube .four {
  -webkit-transform: rotateY(180deg) translateZ(200px);
}

#cube .five {
  -webkit-transform: rotateY(-90deg) translateZ(200px);
}

#cube .six {
  -webkit-transform: rotateX(-90deg) rotate(180deg) translateZ(200px) ;
}